body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: transparent;
  padding: 20px 160px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  box-sizing: content-box;
}

.desc {
  font-style: italic;
  color: #444;
}

.qr {
  width: 200px;
  margin: 10px 0;
}

.foto-container {
  margin: 20px 0;
}

.foto-blur {
  width: 100%;
  filter: blur(5px);
  border-radius: 8px;
}

.btn-wsp {
  display: inline-block;
  padding: 10px 15px;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.aviso {
  font-size: 13px;
  color: #555;
  margin: 10px 0;
}
